/*NEW STYLE*/

body {
    margin: 0px;
}

header {
    grid-area: header;
    background-color: #121726;
}

header a {
    text-decoration: none;
}

nav {
    grid-area: sidebar;
}

nav a {
    font-family: sans-serif;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
}

nav a:hover, .actual a {
    color: #965A4D;
    text-decoration-line: underline;
}

nav a {
    color: #121726;
}

main {
    grid-area: article;
    margin: 0px;
    padding: 5px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-top-color: #5990D9;
    border-bottom-color: #8C7C5D;
    background-color: #E8EAFA;
}

section {
    margin: 15px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section img {
    width: 100%;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1, h2, h3 {
   font-family: sans-serif;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    color: #8C7C5D;
}

h4 {
    font-family: sans-serif;
    color: #121726;
}

p, body a, label {
    font-family: sans-serif;
    font-family: "Trebuchet MS", sans-serif;
    text-align: left;
}

label {
    font-weight: bold;
}

p {
    font-size: 100%;
}

footer p, footer a {
    font-size: 75%;
    margin: 2px;
    text-align: center;
}

footer a {
    text-align: center;
}

main a {
    font-size: 75%;
}

q {
   font-family: sans-serif;
    font-family: "Trebuchet MS", sans-serif;
    font-style: italic;
    font-size: 90%;
    text-align: justify; 
}

form {
    width: 90%;
}

input, textarea {
    width: 100%;
}

.button, .buttonReset {
    background-color: #5990D9;
    border: none;
    color: white;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 85%;   
}

.button:hover {
    background-color: #999DDF;
}

.buttonReset {
    background-color: red;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.welcome {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
}

.mapa {
    width: 100%;
    height: 50%;
}

/************ Pantallas grandes ************/
@media (min-width: 550px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "sidebar"
            "article"
            "footer";
    }
    
    header a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: right;
        font-size: 90%;
        height: 225% !important;
        margin-left: 20px;
    }
    
    .listadoImagenes, .listadoIconos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .listadoImagenes img {
        max-width: 50% !important;
    }
    
    .listadoIconos img {
        max-width: 100% !important;
    }
    
    .logo img {
        max-width: 10%;
        margin-right: 15px;
    }
    
    h1 {
        padding-top: 15px;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 5px;
        font-size: 120%;
        list-style-type: none;
    }
    
    nav ul li {
        padding: 0px 10px 0px 10px;
    }
    
    nav input {
        display: none;
    }
    
    .portada {
        margin-top: 10px;
        width: 90%;
        align-self: center;
        content:url("./img/portada-escritorio.jpg");
    }
    
    main {
        display: grid;
        grid-gap: 5px;
    }
    
    section:nth-child(1) {
        grid-column: 1;
    }
    
    section:nth-child(2) {
        grid-column: 2;
    }
}

/************ Dispositivos móviles ************/
@media (max-width : 550px) {
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "sidebar"
            "article"
            "footer";
    }
    
    header a {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        margin-left: 20px;
    }
    
    .logo img {
        width: 20% !important;
        margin-right: 10px
    }
    
    nav {
        height: 1.3em;
        
        padding-left: 5px;
        padding-top: 4px;
        font-size: 150%;
        
        /* Ajustes menu móvil */
        display: block;
        position: relative;
        top: 4px;
        
        z-index: 1;
        
        /*-webkit-user-select: none;*/
        user-select: none;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: right;
    }
    
    nav input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */ 
    }
    
    nav span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #121726;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
    }
    
    nav span:first-child {
        transform-origin: 0% 0%;
    }
    
    nav span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    
    nav input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    
    nav input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    nav input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    
    #menu {
        position: absolute;
        width:auto;
        margin: -36px 0 0 -550px;
        padding: 20px 10px 20px 80px;

        background: #E8EAFA;
        border: 2px solid;
        border-color: #121726;
        list-style-type: none;
        /*-webkit-font-smoothing: antialiased;*/
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        
    }
    
    #menu li {
        padding: 3px 0;
    }
    
    nav input:checked ~ ul {
        transform-origin: 0% 0%;
        transform: translate(170%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); 
        display: block;
    }
    
    .portada {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

/************ Animaciones ************/
.portada, .destacado {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.portada:hover, .destacado:hover, .icon:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.portada, .destacado {
	opacity: 1;
  animation: fade 3s linear;
}


@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 1 }
}